[submodule "Hgenx/vendor/spdlog"]
	path = Hgenx/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hgenx/vendor/GLFW"]
	path = Hgenx/vendor/GLFW
	url = https://github.com/salimp2009/glfw

[submodule "Hgenx/vendor/imgui"]
	path = Hgenx/vendor/imgui
	url = https://github.com/salimp2009/imgui
[submodule "Hgenx/vendor/glm"]
	path = Hgenx/vendor/glm
	url = https://github.com/g-truc/glm
