# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# HGenX files
*.log

#Temporary Imgui Lua file for further use; Delete this when it is setup properly
imguiLua/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user